{{#ui-login class='administrator-login'
            email=true
            password=true
            width='410px'
            submit='Login'
            submitColor='lime'
            footer=login
            error=error
            formValue=formValue
            isLoading=isLoading
            submitAcion=(action 'login')
            onEnter=(action 'login')
            }}
  {{administrator-logo}}
  <span>Choice form Content Management System</span>
{{/ui-login}}