{{#ui-login class='administrator-login'
            password=true
            confirm=true
            width='410px'
            submit='Submit'
            submitColor='blue'
            addonLabel='Know your password? '
            addonLinke='Try Logging In'
            formValue=formValue
            submitAcion=(action 'handleResetPwd')}}
  {{administrator-logo}}
  <span>Choose a new password. Make sure it's strong!</span>
{{/ui-login}}