{{#ui-login class='administrator-login'
            email=true
            width='410px'
            submit='Send Reset Instructions'
            submitColor='blue'
            addonLabel='Go back to'
            addonLinke='Login page'
            footer=forgot}}
  {{administrator-logo}}
  <span>Enter your email and we'll send you instructions on how to reset your password.</span>
{{/ui-login}}